<div>
    <h2>
        <span jhiTranslate="trialslinkApp.secondaryId.home.title">Secondary Ids</span>
        <button class="btn btn-primary float-right create-secondary-id" [routerLink]="['/', { outlets: { popup: ['secondary-id-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.secondaryId.home.createLabel">
            Create new Secondary Id
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="secondaryIds">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trialslinkApp.secondaryId.type">Type</span></th>
            <th><span jhiTranslate="trialslinkApp.secondaryId.value">Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let secondaryId of secondaryIds ;trackBy: trackId">
                <td><a [routerLink]="['../secondary-id', secondaryId.id ]">{{secondaryId.id}}</a></td>
                <td>{{secondaryId.type}}</td>
                <td>{{secondaryId.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../secondary-id', secondaryId.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secondary-id/'+ secondaryId.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'secondary-id/'+ secondaryId.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
