<div>
    <h2>
        <span jhiTranslate="trialslinkApp.idInfo.home.title">Id Infos</span>
        <button class="btn btn-primary float-right create-id-info" [routerLink]="['/', { outlets: { popup: ['id-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.idInfo.home.createLabel">
            Create new Id Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="idInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trialslinkApp.idInfo.protocolId">Protocol Id</span></th>
            <th><span jhiTranslate="trialslinkApp.idInfo.nctId">Nct Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let idInfo of idInfos ;trackBy: trackId">
                <td><a [routerLink]="['../id-info', idInfo.id ]">{{idInfo.id}}</a></td>
                <td>{{idInfo.protocolId}}</td>
                <td>{{idInfo.nctId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../id-info', idInfo.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'id-info/'+ idInfo.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'id-info/'+ idInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
