
<div *ngIf="idInfo">
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.idInfo.protocolId">Protocol Id</span></dt>
        <dd>
            <span>{{idInfo.protocolId}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.idInfo.nctId">Nct Id</span></dt>
        <dd>
            <span>{{idInfo.nctId}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.idInfo.secondaryId">Secondary Ids</span></dt>
        <dd>
            <ul>
                <li *ngFor="let id of idInfo.secondaryIds">
                    {{id}}
                </li>
            </ul>
        </dd>
    </dl>
</div>
