
<div *ngIf="characteristic">
    <h2><span jhiTranslate="trialslinkApp.characteristic.detail.title">Characteristic</span> {{characteristic.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="trialslinkApp.characteristic.criteria">Criteria</span></dt>
        <dd>
            <span>{{characteristic.criteria}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.characteristic.code">Code</span></dt>
        <dd>
            <span>{{characteristic.code}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.characteristic.sex">Sex</span></dt>
        <dd>
            <span jhiTranslate="{{'trialslinkApp.Sex.' + characteristic.sex}}">{{characteristic.sex}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.characteristic.basedOnGender">Based On Gender</span></dt>
        <dd>
            <span>{{characteristic.basedOnGender}}</span>
        </dd>
        <dt><span jhiTranslate="trialslinkApp.characteristic.acceptHealthyVolunteers">Accept Healthy Volunteers</span></dt>
        <dd>
            <span>{{characteristic.acceptHealthyVolunteers}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'characteristic/'+ characteristic.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
