<div>
    <h2>
        <span jhiTranslate="trialslinkApp.characteristic.home.title">Characteristics</span>
        <button class="btn btn-primary float-right create-characteristic" [routerLink]="['/', { outlets: { popup: ['characteristic-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.characteristic.home.createLabel">
            Create new Characteristic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="characteristics">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="trialslinkApp.characteristic.criteria">Criteria</span></th>
            <th><span jhiTranslate="trialslinkApp.characteristic.code">Code</span></th>
            <th><span jhiTranslate="trialslinkApp.characteristic.sex">Sex</span></th>
            <th><span jhiTranslate="trialslinkApp.characteristic.acceptHealthyVolunteers">Accept Healthy Volunteers</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let characteristic of characteristics ;trackBy: trackId">
                <td><a [routerLink]="['../characteristic', characteristic.id ]">{{characteristic.id}}</a></td>
                <td>{{characteristic.criteria}}</td>
                <td>{{characteristic.code}}</td>
                <td jhiTranslate="{{'trialslinkApp.Sex.' + characteristic.sex}}">{{characteristic.sex}}</td>
                <td>{{characteristic.acceptHealthyVolunteers}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../characteristic', characteristic.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'characteristic/'+ characteristic.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'characteristic/'+ characteristic.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
