<div>
    <h2>
        <span jhiTranslate="trialslinkApp.trial.home.title">Trials</span>
        <button class="btn btn-success float-right create-trial" [routerLink]="['/', { outlets: { popup: ['trial-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="trialslinkApp.trial.home.createLabel">
            Create new Trial
            </span>
        </button>
        &nbsp;
        <button *ngIf="currentSearch && trials.length == 0" class="btn btn-warning float-right" (click)="importTrial(currentSearch)">
            <span class="fa fa-plus"></span>
                    <span  jhiTranslate="trialslinkApp.trial.home.importLabel">
                    Import as new Trial
                    </span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-info float-right" (click)="indexAllTrials()">
            <span class="fa fa-cog"></span>
                    <span jhiTranslate="trialslinkApp.trial.home.indexLabel">
                    Index all trials
                    </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="col-sm-12  no-padding-right" *ngIf="currentSearch && trials.length == 0">
        <div class="alert alert-info">
            <span>No matches were for for this id. Use like the import button above to import from Clinical Trials!</span>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-5">
                <ng-select [multiple]="true"
                           [items]="conditions"
                           (selected)="selectedCondition($event)"
                           (removed)="removedCondition($event)"
                           placeholder="No condition(s) selected">
                </ng-select>
            </div>
            <div class="col-lg-5">
                <ng-select [multiple]="true"
                           [items]="locations"
                           (selected)="selectedLocation($event)"
                           (removed)="removedLocation($event)"
                           placeholder="No location(s) selected">
                </ng-select>
            </div>
        <div class="col-lg-2">
            <input type="number" class="form-control" name="age" id="query_age"
                   [(ngModel)]="query.age" (change)="search()" placeholder="Patient age"/>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-3 hidden-sm-down">
            <div class="card">
                <div class="card-header">
                    Filter Trials
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" (ngModelChange)="omniSearch($event)"
                               id="currentSearch" name="currentSearch" placeholder="{{ 'trialslinkApp.trial.home.search' | translate }}">
                    </h4>
                    <div class="card-text" *ngFor="let category of categories;">
                        <div>
                            <span class="text-capitalize" ><b>{{category.key}}</b></span>
                            <span class="pull-right"><i class="fa fa-plus"></i></span>
                        </div>
                        <ul *ngFor="let item of category.items;" class="list-group">
                            <li class="list-group-item justify-content-between">
                                <label class="form-check-label">
                                    <input (change)="updateFilters(category.key, item.type)" class="form-check-input" type="checkbox" value="">
                                    <span *ngIf="category.key != 'sites' && category.key != 'cstatus'" class="text-capitalize">{{item.type}}</span>
                                    <span *ngIf="category.key == 'sites' && locationsLookup" class="text-capitalize">{{locationsLookup[item.type].text}}</span>
                                    <span *ngIf="category.key == 'cstatus' && knownStatuses" class="text-capitalize">{{knownStatuses[item.type].text}}</span>
                                </label>
                                <span class="badge badge-default badge-pill">{{item.count}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="hidden-md-up">
                        <a class="btn btn-danger btn-block btn-compose-email">Filter Trials</a>
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" (ngModelChange)="omniSearch($event)"
                               name="currentSearch" placeholder="{{ 'trialslinkApp.trial.home.search' | translate }}">
                        <div *ngFor="let category of categories;" class="card">
                            <div class="card-header">
                                <span class="text-uppercase" >{{category.key}}</span>
                                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                            </div>
                            <div class="card-block">
                                <div class="card-text" *ngFor="let item of category.items;">
                                    <span class="text-capitalize">{{item.type}}</span>
                                    <span class="badge badge-pill badge-primary pull-right">{{item.count}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    Showing <b>{{trials.length}}</b> of <b>{{totalItems}}</b> trials
                    <div class="pull-right" [ngModel]="predicate" (ngModelChange)="updatedPredicate($event)" ngbRadioGroup name="sortPredicate">
                        <label class="btn btn-primary btn-sm">
                            <input type="radio" value="briefTitle"> <span class="text-right" jhiTranslate="trialslinkApp.trial.briefTitle"><b>Display Title</b></span>
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input type="radio" value="lastModifiedDate"> <span class="text-center" jhiTranslate="trialslinkApp.trial.lastModifiedDate"><b>Last Updated Date</b></span>
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input type="radio" value="createdDate"> <span class="text-right" jhiTranslate="trialslinkApp.trial.createdDate"><b>Created Date</b></span>
                        </label>
                        <label class="btn btn-warning btn-sm">
                            <span (click)="sortPredicate()" class="fa fa-sort" ngbTooltip="Click to toggle sort order" placement="bottom"></span>
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" *ngIf="trials">
                        <table class="table table-striped">
                            <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                                <th></th>
                            </tr>
                            </thead>
                            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                            <tr *ngFor="let trial of trials ;trackBy: trackId">
                                <td class="search-result">
                                    <a *ngIf="!trial.shortName" [routerLink]="['../trial', trial.id ]">{{trial.briefTitle}}</a>
                                    <a *ngIf="trial.shortName" [routerLink]="['../trial', trial.id ]"><span class="badge badge-danger">{{trial.shortName}}</span>&nbsp; {{trial.briefTitle}}</a>
                                    <hr>
                                    <span *ngFor="let phase of trial.phases;" class="badge badge-pill badge-default">{{lookup[phase]}}</span>
                                    <span class="badge badge-pill badge-success">{{trial.status}}</span>
                                    <span class="badge badge-pill badge-info" *ngFor="let condition of trial.conditions">{{condition.label}}</span>
                                    <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn-group">
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/edit'} }]"
                                                replaceUrl="true"
                                                class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                        </button>
                                        <button type="submit"
                                                [routerLink]="['/', { outlets: { popup: 'trial/'+ trial.id + '/delete'} }]"
                                                replaceUrl="true"
                                                class="btn btn-danger btn-sm">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
